.dashboard {

  padding: 2rem;

  h1,
  h2,
  h3,
  h4,
  p,
  span,
  th,
  td,
  label {
    color: #1976d2;
  }

}

.cards-metricas {

  display: grid;

  grid-template-columns:
    repeat(auto-fit, minmax(220px, 1fr));

  gap: 1rem;

  margin-top: 2rem;
}

.card-metrica {

  background: #ffffff;

  color: #000000;

  border-radius: 10px;

  padding: 1.5rem;

  box-shadow: 0 2px 10px rgba(0,0,0,.1);

  text-align: center;

  h3,
  h4,
  p,
  span {
    color: #000000;
  }
}

.card-metrica h3 {

  margin-bottom: 1rem;

  font-weight: 600;
}

.card-metrica p {

  font-size: 2rem;

  font-weight: bold;

  color: #000000;
}

.graficos-container {

  display: grid;

  grid-template-columns: 1fr 1fr;

  gap: 20px;

  margin-top: 2rem;
}

.grafico-card {

  background: #ffffff;

  color: #000000;

  border-radius: 12px;

  padding: 1rem;

  box-shadow: 0 2px 10px rgba(0,0,0,.1);

  h2,
  h3,
  p,
  span {
    color: #000000;
  }
}

.tabla-retiros {

  margin-top: 2rem;

  background: #ffffff;

  padding: 1rem;

  border-radius: 10px;

  box-shadow: 0 2px 10px rgba(0,0,0,.1);

  h2,
  h3 {
    color: #000000;
  }
}

.tabla-retiros table {

  width: 100%;

  border-collapse: collapse;

  margin-top: 1rem;

  background: #ffffff;
}

.tabla-retiros th,
.tabla-retiros td {

  padding: 12px;

  border-bottom: 1px solid #ddd;

  text-align: left;

  color: #000000;
}

.tabla-retiros th {

  background: #f5f5f5;

  font-weight: bold;

  color: #000000;
}

.estado-ok {

  background: #d4edda;

  color: #155724;

  padding: .3rem .7rem;

  border-radius: 20px;

  font-weight: bold;
}

.estado-error {

  background: #f8d7da;

  color: #721c24;

  padding: .3rem .7rem;

  border-radius: 20px;

  font-weight: bold;
}

/* Recharts */

.recharts-text {

  fill: #000 !important;
}

.recharts-legend-item-text {

  color: #000 !important;
}

.recharts-tooltip-wrapper {

  color: #000;
}

.btn-limpiar {

  margin: 1rem 0 2rem 0;

  padding: 12px 20px;

  border: none;

  border-radius: 8px;

  background: #dc3545;

  color: white;

  font-weight: bold;

  cursor: pointer;

  transition: 0.2s;
}

.btn-limpiar:hover {

  opacity: 0.9;

}

.input-busqueda {

  width: 100%;

  padding: 12px;

  margin: 1rem 0;

  border: 1px solid #ccc;

  border-radius: 8px;

  font-size: 1rem;

  color: #000;

  background: #fff;
}